bin/
obj/
tmp/
*.cab
bundle.js*
.vs
*.suo
*.user
*.syso
nil
wss-generated-file.config
whitesource/
.idea/
Core/dotnetcore/
*.crx
Azure/Azure/csx/
localshell/node_modules/
cloud.sublime-workspace
.DS_Store

#----- BEGIN bin exceptions -----#

!external/azure/2.2/PSModule/Scaffolding/Cache/WebRole/bin
!external/azure/2.2/PSModule/Scaffolding/General/WebRole/bin
!external/azure/2.2/PSModule/Scaffolding/Node/WebRole/bin
!external/azure/2.2/PSModule/Scaffolding/PHP/WebRole/bin
!external/Mongo/bin
!external/OpenSSL/win32/bin
!external/OpenSSL/win64/bin
!external/ScimApps/Owin.Scim-master/bin

!OnPrem/pgsql/bin
!OnPrem/pgsql/pgAdmin 4/bin
!OnPrem/pgsql_9_6_3/bin
!OnPrem/pgsql_9_6_3/pgAdmin 4/bin

!QATests/AppsModificationTest/src/bin
!QATests/Pytest_Android_Automation/.bin
!QATests/SAMLAppScrumTest/bin

!ScaleBot/LogManager/Bin

!Analytics/19.6/infrastructure/core-management/bin
!Analytics/19.6/infrastructure/osgi-server/plugins/org.cg.dao.logging_1.0.0/bin
!Analytics/19.6/infrastructure/osgi-server/plugins/org.cg.dao.webcontainer_8.0.32/bin
!Analytics/19.6/platform/com.centrify.platform.analytics.agent.installer/src/izpack/bin
!Analytics/19.6/platform/com.centrify.platform.analytics.agent/bin
!Analytics/infrastructure/core-management/bin
!Analytics/infrastructure/osgi-server/plugins/org.cg.dao.logging_1.0.0/bin
!Analytics/infrastructure/osgi-server/plugins/org.cg.dao.webcontainer_8.0.32/bin
!Analytics/platform/com.centrify.platform.analytics.agent.installer/src/izpack/bin
!Analytics/platform/com.centrify.platform.analytics.agent/bin
#!Apps/android/bin
#!Apps/android/prototype/AndroidAutomation/CentrifyTestApp/bin
#!Apps/android/prototype/AndroidAutomation/MobileTests/bin
#!Apps/android/prototype/GCM_test/SimpleHttpServer/bin
#!Apps/android/prototype/MasRemoteServer/MasRemoteServer/bin
#!Apps/android/prototype/MasRemoteServer/MasRemoteServer/csx/Release/roles/MvcWebRole1/approot/bin
#!Apps/android/prototype/MasRemoteServer/MasRemoteServer/obj/Release/MvcWebRole1/bin
!DevOps/Management/Portal/ServiceManagement/bin
!Tools/CssTestAgent/bin

# Add to gitignore but Suite/DC isn't used. It is dupe of DZWin
!Suite/DA/windows/tools/wdadsim/bin
!Suite/DC/windows/common/sudoers.test/bin
!Suite/DC/windows/console/web/UI/Bin
!Suite/DC/windows/DeploymentManager/common/Sudoers/Centrify.DeploymentManager.Common.Test/bin
!Suite/DC/windows/DeploymentManager/console.test/bin
!Suite/DC/windows/external/NUnit/bin
!Suite/DC/windows/packages/ars_web/Public/Bin
!Suite/DC/windows/packages/cdc/web/UI/Bin
!Suite/DC/windows/tools/mapgen/bin
!Suite/DC/windows/tools/pes/Dependencies/bin

#----- END bin exceptions -----#


#----- BEGIN files from environment setup -----#

Azure/WebRole/storage.xml
Scripts/local_root_cert.cer
Scripts/local_root_cert.p12
Scripts/my_host_cert.p12
Scripts/pod_identity_Pod0.cer
Scripts/pod_identity_Pod0.p12
Scripts/SetupLogs/
Scripts/user_settings.ps1
Scripts/user_settings_storageengine.ps1

#----- END files from environment setup -----#


#----- BEGIN cshtml directories copied from somewhere else during build -----#

Azure/WebRole/Views/AppStore/
Azure/WebRole/Views/Mobile/
Azure/WebRole/Views/MobileEnroll/
Azure/WebRole/Views/iosapprest/
Azure/WebRole/Views/iosenroll/
Azure/WebRole/Views/shared/*
!Azure/Webrole/Views/shared/UPError.cshtml
Azure/WebRole/Views/uprest/
Azure/WebRole/data/*
!Azure/WebRole/data/GeoIP.dat
!Azure/WebRole/data/GeoLiteCity.dat
!Azure/WebRole/data/dbip/dbip-location.csv.gz
!Azure/WebRole/data/dbip/country_codes.csv

#----- END cshtml directories -----#


#----- BEGIN other build artifacts -----#

external/Antlr3.Runtime.dll
external/Antlr3.Runtime.pdb
external/Centrify.SharpZipLib.dll
external/Centrify.SharpZipLib.pdb
external/HttpTwo.dll
external/HttpTwo.pdb
external/Jint.dll
external/Jint.pdb
external/log4Net.dll
external/log4Net.pdb
external/log4Net.xml
external/TrotiNet/**.dll
external/TrotiNet/**.pdb
external/TrotiNet/**.xml
external/external.reference.dll
external/external.reference.pdb
external/**.dll
external/**.pdb

installer/ConnectorBootstrapperUI/Msi.Resources.xml
installer/ReferenceDir/

Mobile/OnPremises/GpoeExtension/MMCLib/MMCLib.xml

plv8/node_modules/
plv8/package-lock.json
plv8/src/lib/
plv8/src/LibFiles.ts

Server/OnPremises/**/ReferenceDir/
Server/OnPremises/CpsNative/samr_*
Server/OnPremises/CpsNative/x64/
Suite/DC/windows/util/API/centrifydc.api.xml

Saas/BrowserExtension/node_modules/
Saas/BrowserExtension/v2/node_modules/
Saas/BrowserExtension/v2/dist/
Saas/BrowserExtension/package-lock.json
Saas/BrowserExtension/*/AppSsoBE/build/
Saas/BrowserExtension/*/AppSsoBE/deploy/
Saas/BrowserExtension/*/AppSsoBE/dev/
Core/packages/

Tools/bin2/
DevStacks/packages
Apps/Agent/pkg
Apps/Agent/**/vendor

UnitTest/*.config
UnitTest/*.dll
UnitTest/*.pdb
UnitTest/*.xml

MsBuildTasks/*.dll
MsBuildTasks/*.pdb

#----- END other build artifacts -----#


#----- BEGIN smoke test & loader artifacts -----#
SmokeTest2/DefaultSettings
SmokeTest2/ConcurrentTestRunner/node_modules/
SmokeTest2/ConcurrentTestRunner/results/
SmokeTest2/ConcurrentTestRunner/temp/
SmokeTest2/LastFailedScreen*
SmokeTest2/*screenshot.png
SmokeTest2/*.state
SmokeTest2/*.log
Loader/DefaultSettings
Loader/test.log
Loader/testrunner.state
#----- END smoke test & loader artifacts -----#

#----- BEGIN Unit test artifacts -----#
Core/Test/Cloud.Core.Test/**/app.config
Core/Test/Cloud.Core.Test/packages/
#----- END Unit test artifacts -----#
Core/Test/Core.PerfTest/BenchmarkDotNet.Artifacts/
Azure/WebRole/webrole_nd.log
